.form-wrapper {
  min-height: 87vh;
  overflow: hidden;
  // height: (100vh - 230px);
}

.project-photo {
  height: 10vw;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-box {
  margin-top: 20px;
}

#order-form-list {
  list-style: none;
  padding-left: 0px;
}

.bold {
  font-weight: heavy;
}
