
.project-info{
  font-weight: normal;
  font-size: 14px;
}

.invitation-date{
  font-weight: normal;
  font-size: 14px;
}

// .grey{
//   color: lightgrey !important;
// }

.entire-order-card{
  display: flex;
  margin-top: 0 !important;
}

@media only screen and (max-width: 600px) {
  .entire-order-card{
    flex-direction: column !important;
  }
}

.blank {
  h4 {
    margin-left: 90px;
    color: $green;
  }
}

.far {
  color: $green;
}

.names h4 {
  max-width: 200px;
  overflow: hidden;
  white-space: normal;
}
