#reviews-container {
  width: 100%;
  padding: 0 20px;
  margin: 40px 0px 40px 0px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  h2 {
    margin: 0;
    text-align: center;
  }
}

.dropdown-btn {
  min-width: 130px;
}

#edit-btn {
  margin-bottom: 20px;
}

// #edit-btn{
//   font-size: 24px;
//   position: relative;

// }

// #edit-btn:hover {
//   color: #20367A;

// }

.project-title{
  display: flex;
  h1{
    margin: 0 20px 0 0;
  }
  justify-content: space-between;
}

.modal-content {
  background-color: white;
  border-radius: 3px;
  padding: 30px;

}

#form-modal{
  padding: 100px;
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.dropdown-btn {
  border-radius: 3px 0 0 3px;
  padding:  5px;
  display: flex;
  align-items: center;
  // border: 1px solid rgba(0,0,0,0);
}

.dropdown-btn i {
  color: lightgrey;
}

.dropdown-btn:hover i {
  opacity: 0.5;
}



.dropdown-content {
  transition: all .5s ease-in-out;
  background-color: white;
  display: none;
  position: absolute;
  border-radius: 0 0 6px 6px;
  border: 1px solid #EAEAEA;
  border-top: none;
  padding: 5px 10px 0 10px;
}

.team-member {
  font-family: $body-font;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.team-member:hover {
  opacity: 0.5;
}

.team-member:last-child {
  border-bottom: none;
}

.team-member p {
  color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.ratings {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.developers {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  .user-info {
    margin: 0 10px 0 0 !important;
  }
  p {
    margin: 0;
  }
}

.review {
  font-family: $body-font;
  padding: 15px 0 10px 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  min-height: 50px;
  .content-container {
    display: flex;
    justify-content: space-between;
  }
  .user-info {
    color: grey;
    font-weight: lighter;
    font-size: 16px;
    display: flex;
    padding: 10px 0  8px 0;
  }
  .user-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .content {
    margin-right: 20px;
    flex-grow: 1;
    padding-bottom: 20px;
  }
}

.review:last-child {
  border-bottom: none;
}

.project-core-info {
  font-family: $body-font;
  width: 100%;
  padding: 40px 62px 20px 80px;
  margin: 50px 0 70px 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}

// .asset-img img{
//   border-radius: 9px;
//   width: 500px;
// }

// .asset-img{
//   border-radius: 9px;
//   width: 700px;
// }

.project-assets-and-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.project-info {
  margin-left: 20px;
  .user-info {
    display: flex;
    margin-bottom: 30px;
  }
  .social-buttons {
    display: flex;
  }
}

.user-info .user-img {
  height: 50px;
  width: 50px;
}

.project-description {
  margin-bottom: 20px;
}

.ratings{
  min-width: 250px;
  .fas.fa-star {
    font-size: 16px;
  }
  ul {
    padding-inline-start: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}
