#reviews-container {
  width: 100%;
  padding: 0 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
  h2 {
    margin: 0;
    text-align: center;
  }
}
.ratings {
  min-width: 250px;

}
.review {
  font-family: $body-font;
  padding: 15px 0 10px 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  min-height: 50px;
  .content-container {
    display: flex;
    justify-content: space-between;
  }
  .user-info {
    color: grey;
    font-weight: lighter;
    font-size: 16px;
    display: flex;
  }
  .user-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .content {
    margin-right: 10px;
    flex-grow: 1;
  }
}

.project-core-info {
  font-family: $body-font;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
    h1 {
    margin: 0 0 20px 0;
  }
}

.asset-img img{
  border-radius: 9px;
  width: 500px;
}

.asset-img{
  border-radius: 9px;
  width: 700px;
}

.project-assets-and-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.project-info {
  margin-left: 20px;
  .user-info {
    display: flex;
    margin-bottom: 30px;
  }
  .social-buttons {
    display: flex;
  }
}

.user-info .user-img {
  height: 50px;
  width: 50px;
}

.project-description {
  margin-bottom: 20px;
}

.ratings{
  min-width: 250px;
  .fas.fa-star {
    font-size: 16px;
  }
  ul {
    padding-inline-start: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
}

#myCarousel {
  // max-width: 700px;
  // height: calc(width)
  width: 100%;
}

