// Specific CSS for your home-page
.cta {
  display: flex;
  flex-direction: column;
}

.ctas {
  display: flex;
  justify-content: space-around;
}

.catas {
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-center: center;
}

.build {
  text-decoration: line-through;
  text-decoration-color: red;
}



.more-margin {
  margin-top: 6em;
}

.bold {
  font-weight: bold;
}

.big-h2 {
  font-size:60px !important;
  font-weight: 700;
}
.big-p {
  font-size:20px;
  padding-left: 4px;
}
