// Specific CSS for your home-page
.cta {
  display: flex;
  flex-direction: column;

}
.main-wrapper {
  height: calc(100vh - 70px);
}
.ctas-plus-logo {
 height: 100vh;
  }

.ctas {
  display: flex;
  justify-content: space-around;
  margin-top: 9em;

}

.cta-post {
  display: flex;
  justify-content: flex-end;
}

.catas {
  height: 334px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-center: center;
  margin-bottom: 8em;
  margin-top: 3em;
}

.build {
  text-decoration: line-through;
  text-decoration-color: red;
}


// .more-margin {
//   margin-top: 4em;
// }

.bold {
  font-weight: bold;
}

.big-h2 {
  font-size:60px !important;
  font-weight: 700;
}
.big-p {
  font-size:20px;
  padding-left: 4px;
  color: white;
}

.btn-special{
  color: #ffffff;
  border-radius: 9px;
  background-color: #2fb897 !important;
  border: none;
  padding: 5px 40px 5px;
}

#banner-landing {
  background-color: #35477D;
}

#addition {
  display: flex;
  justify-content: center;
}

#new-additions {
  font-size: 48px !important;
  color: #32B796 !important;
  font-weight: bold;
  z-index: 100;
  width: 6em;
  background-size: contain;
  height: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}

@media only screen and (max-width: 600px) {
  .ctas {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
  }
  .big-h2 {
    font-size:50px !important;
    font-weight: 700;
  }
  .cta-post {
    justify-content: left;
    margin-left: 5px;
  }
  .logo-wrapper{
    display: none;
  }
  .card-wrapper {
    margin-bottom: 10px !important;
  }
}




