// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  font-family: $font-family-sans-serif;
  font-size: 16px !important;
  background-color: #F4F4F4 !important;
}

h1 {
  font-size: 40px !important;
  color:#32B796 !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
  color:#858AA3 !important;
    }

img {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}

h2 {
  font-size: 32px !important;
  color:#32B796 !important;
}

.top-margin {
  margin-top: 90px;
  h1 {
  text-align: center;
}
}

#main-web-wrapper {
  min-height: calc(100vh-140px);
}

.bold {
  font-weight: bold;
}
