// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

body {
  font-size: 16px;
  font-family: $font-family-sans-serif;
}

h2 {
  font-size: 32px;
}
