<!-- To use this partial you need to pass the user and the imgSize: "small" or "" -->
<%= link_to profile_path(user) do %>
  <div class="user-info">
    <div class="user-img <%= imgSize %>">
      <%= render 'shared/avatar', user: user %>
    </div>
    <p><%= user.email %></p>
  </div>
<% end %>
