
<div class="footer">
  <div class="footer-links">
    <%= link_to root_path do%>
    <i class="fas fa-home"></i>
    <% end %>
    <%= link_to "https://twitter.com/lewagonbsas" do%>
    <i class="fab fa-twitter"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/lewagon" do%>
    <i class="fab fa-linkedin"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    Bring them Back!      <%= link_to orders_path do %>
<i class="fas fa-book-dead"></i>
    <% end %>
  </div>
</div>
