<div class="modal fade" id="newsletter_subscription" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div  class="modal-dialog">
    <div class="modal-card" class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <div class="modal-title" id="myModalLabel" class="footer-copyright">
     <%= image_tag "logo.png", height: 40 %>
  </div>
      </div>
      <div class="modal-body">
        <%= render "shared/newsletter_form" %>
      </div>

      </div>
    </div>
  </div>
</div>
