<% unless project.main_asset.photo.identifier.nil? %>
  <div class="card-img <%= classes %>" style="background-image: url('https://res.cloudinary.com/dy3nldgkf/<%= project.main_asset.photo.identifier %>'); background-position: center; background-size: cover;">
  </div>
<% else %>
  <div class="card-img <%= classes %>" style="background-image: url('https://res.cloudinary.com/dy3nldgkf/image/upload/v1552058848/Full_Logo2.png';); background-position: center;">
  </div>
<% end %>
