<% if project.project_assets.count != 0 %>
  <div class="<%= classes %>" style="background-image: url('<%= project.project_assets.first.photo_url %>'); background-position: center; background-size: cover;">
  </div>
<% else %>
  <div class="<%= classes %>" style="background-image: url('https://res.cloudinary.com/dy3nldgkf/image/upload/v1551292620/image-placeholder_3x2.svg'); background-position: center;">
  </div>
<% end %>
