<% case state %>
  <% when 'pending' %>
    <p class="state-yellow"><%= state.capitalize %></p>
  <% when 'accepted', 'finished', 'paid', 'delivered' %>
    <p class="state-green"><%= state.capitalize %></p>
  <% when 'declined' %>
    <p class="state-red"><%= state.capitalize %></p>
  <% when 'ongoing', 'awaiting_payment' %>
    <p class="state-blue"><%= state.gsub('_',' ').capitalize %></p>
  <% else %>
    <p>Undefined</p>
<% end %>
