<% sender = chat.sender == current_user ? "me" : "him" %>

<div class="chat-bubble-wrapper">
  <div class="chat-bubble <%= sender %>">
    <div class="chat-username"><%= chat.sender.full_name %></div>
    <div class="chat-message"><%= chat.message %></div>
  </div>
</div>
