<% 
  if chat.sender == current_user
    sender = "me"
  else
    sender = "him"
  end
 %>

<div class="chat-bubble-wrapper">
  <div class="chat-bubble <%= sender %>">
    <div class="chat-username"><%= chat.sender.full_name %></div>
    <div class="chat-message"><%= chat.message %></div>
  </div>
</div>
