<div class="col-12">
  <div class="chat bg-secondary d-inline-block text-left text-white mb-2">
    <div class="chat-bubble">
      <small class="chat-username"><%= chat.sender.full_name %></small>
      <p class="m-0 chat-message"><%= chat.message %></p>
    </div>
  </div>
</div>
