<div class="order-card">
  <img src="" alt="">
  <div class="project-name">
    <%= order.name %>
  </div>
  <div class="project-description">
    <%= order.project.details %>
  </div>
  <div class="project-stats">
    <%= order.state %>
  </div>
</div>
