<div class="order-card">
  <%= image_tag "Hand_&_Logo.svg", class: "avatar" %>
  <div class="project-name">
    <%= order.project.name %>
  </div>
  <div class="project-description">
    <%= order.project.description %>
  </div>
  <div class="project-stats">
    <%= order.state %>
    <p>place holder for price and due date</p>
  </div>
</div>
