<div class="container top-margin">
  <ul class="list-inline">
    <li class="active"><a data-toggle="tab" href="#my_orders"><h1 class="text-center order-title">My orders</h1></a></li>
    <li><a data-toggle="tab" href="#project_orders"><h1 class="text-center order-title">Project orders</h1></a></li>
  </ul>

  <div class="tab-content">
    <div id="my_orders" class="tab-pane fade in active">
      <% unless @orders.empty? %>
        <div class="pending-orders">
          <% @orders.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% else %>
        <p>You haven't made any orders yet.</p>
      <% end %>
      <% unless @orders_history.empty? %>
        <h1 class="order-title">History</h1>
        <div class="orders-history">
          <% @orders_history.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="project_orders" class="tab-pane fade">
      <% unless @my_projects_orders.empty? %>
        <div class="pending-project-orders">
          <% @my_projects_orders.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% else %>
        <p>None of your projects have any pending order.</p>
      <% end %>
      <% unless @my_projects_orders_history.empty? %>
        <h1 class="order-title">History</h1>
        <div class="projects-orders-history">
          <% @my_projects_orders_history.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
  </div>
</div>
