<div class="container-fluid top-margin">
   <div class="col-md-10 col-md-offset-1" >
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center order-title">My orders</h1>
      <% if @orders %>
        <% @orders.each do |order| %>
          <%= render "order_card", order: order %>
        <% end %>
      <% else %>
        <p class="text-center">You haven't made any orders yet.</p>
      <% end %>
      <h1 class="text-center order-title">Project orders</h1>
      <% if @my_projects_orders %>
        <% @my_projects_orders.each do |order| %>
          <%= render "order_card", order: order %>
        <% end %>
      <% else %>
        <p class="text-center">None of your projects have any pending order.</p>
      <% end %>
    </div>
    </div>
  </div>
</div>
