<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="order-sort">
        <span>SORT</span>
      </div>
      <h1 class="text-center order-title">Orders</h1>
      <div class="order-cards">
        <% @orders.each do |order| %>
          <%= render "order_card", order: order %>
        <% end %>
      </div>
    </div>
  </div>
</div>
