<div class="container top-margin">
  <ul class="orders-index-tabs list-inline">
    <li class="active"><a data-toggle="tab" href="#my_orders"><h1 class="text-center order-title">Client Orders</h1></a></li>
    <li><a data-toggle="tab" href="#project_orders"><h1 class="text-center order-title">Dev Orders</h1></a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" id="my_orders" class="tab-pane fade in active">
      <% unless @orders.empty? %>
        <div class="pending-orders">
          <% @orders.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% else %>
        <div class="horizontal-card entire-order-card blank">
          <h4>You haven't made any orders yet.</h4>
        </div>
      <% end %>
      <% unless @orders_history.empty? %>
        <h1 class="order-title">History</h1>
        <div class="orders-history">
          <% @orders_history.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div role="tabpanel" id="project_orders" class="tab-pane fade">
      <% unless @my_projects_orders.empty? %>
        <div class="pending-project-orders">
          <% @my_projects_orders.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% else %>
          <div class="horizontal-card entire-order-card blank">
            <h4>None of your projects have any pending orders.</h4>
          </div>
      <% end %>
      <% unless @my_projects_orders_history.empty? %>
        <h1 class="order-title">History</h1>
        <div class="projects-orders-history">
          <% @my_projects_orders_history.each do |order| %>
            <%= render "order_card", order: order %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
