<h1>your profile</h1>
<h3>About</h3>
<div class="profile-info">
  <div class="profile-edit">
    <i class="fas fa-edit"></i>
  </div>
  <div class="profile-info-details">
    <div class="profile-info-img" style="background-image: url('https://picsum.photos/300/150?random'), linear-gradient(-115deg, rgba(53,71,125,0.38) 22%, rgba(53,71,125,0.23) 58%);" >
    </div>
    <div class="profile-ratings">
      <div class="profile-rating">
       <span>Comunication</span>
        <div class="profile-star">
        <i class="fas fa-star"></i>
        </div>
     </div>
     <div class="profile-rating">
       <span>Quality of product</span>
        <div class="profile-star">
        <i class="fas fa-star"></i>
        </div>
     </div>
     <div class="profile-rating">
       <span>Delivered on time</span>
        <div class="profile-star">
        <i class="fas fa-star"></i>
        </div>
     </div>
    </div> <!-- end of the profile-ratings div -->
    <div class="profile-links">
       <div> link to </div>
       <div> link to </div>
       <div> link to </div>
     </div><!-- end of the profile-links-div -->
     <div class="profile-description">
        <p>Lorem ipsum dolor sit amet, wisi moderatius vim at, at mel lobortis consetetur. Quo et tritani consectetuer,
persius invidunt sententiae no mei. Eos quando feugiat ei, liber errem singulis vis ne. In delicata
accommodare sit. Cu case graeci mei.</p>
        <p>Congue labitur nam id, consequat similique dissentiet usu ut. Ea nusquam phaedrum contentiones ius, vix </p>
        <p></p>
     </div>
  </div> <!-- end of the profile-info-details-div -->
  <div class="profile-reviews">
    <h2>Reviews</h2>
    <div class="profile-review">
      <h3>Review on project name</h3>
      <p>By user name</p>
      <span>1/28/2019 </span>
      <div class="profile-review-detail">
        <div class="profile-description-details">
            <p>Lorem ipsum dolor sit amet, wisi moderatius vim at, at mel lobortis consetetur. Quo et tritani consectetuer,
persius invidunt sententiae no mei. Eos quando feugiat ei, liber errem singulis vis ne. In delicata
accommodare sit. Cu case graeci mei.</p>
        <p>Congue labitur nam id, consequat similique dissentiet usu ut. Ea nusquam phaedrum contentiones ius, vix </p>
        <p></p>
        </div>

      </div>

    </div>
  </div> <!-- end of the profile-reviews div -->
</div>  <!-- end of the profile-info div this is the one that contain everything -->

