<div class="card">
  <div class="card-img">
  </div>
  <div class="card-info">
    <div class="title-rating">
      <h3><%= project.name %></h3>
      <div class="rating">* * * * *
      </div>
    </div>
    <div class="description">
      "description description description description "
    </div>
    <div class="owner-info">
      <div class="avatar">
        :)
      </div>
      <%= project.user.email %>
    </div>
  </div>
</div>
