<div class="review">
  <div class="user-img">
  </div>
  <div class="user-info">
    <%= review.user.email %>
  </div>
  <div class="content">
    <%= review.rating %>
    <br>
    <%= review.content %>
  </div>
</div>
