. <div class="container-fluid top-margin">
   <div class="col-md-10 col-md-offset-1" >
  <div class="form-container">
    <h1>Edit project</h1>
    <%= render 'form', project: @project, users: @users %>
  </div>
  </div>
</div>
