<div class="container-fluid top-margin ">
<h1 class="text-center ">My Projects</h1>
<div class="row card-padding">
  <div class="col-md-10 col-md-offset-1">
    <div class='btn-wrapper'>
      <%= link_to '+ add new project', new_project_path, class: 'btn btn-primary flex-btn' %>
      <%= link_to 'my invitations', project_members_path, class: 'btn btn-primary flex-btn' %>
    </div>
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-md-6 card-wrapper">
        <%= render 'card', project: project %>
      </div>
    <% end %>
  </div>
</div>
</div>

