<div class="container">
  <% if current_page?(controller: 'projects', action:'mine') %>
    <div id='invite-new-project-btn'>
    <%= link_to '+ add new project', new_project_path %>
    <%= link_to 'my invitations', project_members_path %>
  </div>
  <% end %>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-md-6 card-wrapper">
        <%= link_to project_path(project) do %>
          <%= render 'card', project: project %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
