<div class="container-fluid top-margin">
   <div class="col-md-10 col-md-offset-1" >
    <h1 class="center">New project</h1>
  <div class="form-container">
    <%= render 'form', project: @project, users: @users %>
  </div>
  </div>
</div>
