<div class="container">
  <h1><%= @project.name %></h1>
  <% if policy(@project).update? %>
    <%= link_to 'add photo/video', new_project_project_asset_url(@project) %>
  <% end %>
  <div class="project-assets">
    <% @project.project_assets.each do |asset| %>
      <%= cl_image_tag asset.photo, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>
  <div id="reviews-container">
    <h2>Reviews</h2>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <% @project.reviews.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      </div>
    </div>
  </div>
</div>
