.user-info {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    margin-left: 10px;
    color: lightgray;
  }
}

.user-info:hover {
  opacity: 0.7;
}

.user-img.small {
  width: 30px;
  height: 30px;
}
