
.profile {
    display: flex;
    flex-direction: column;



    h3 {
      padding-left: 10px;
      font-family: roboto;
      color:#35477D;
    }
    h1{
      text-align: center;
      font-family: roboto;
      color: rgba(10,10,10,0.9);
      font-weight: normal;
    }
}
.profile-info {
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
  background-color: white;
}

.profile-edit{
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
  padding: 5px;
}

.profile-info-details {
  display: flex;
  justify-content: center;
}

.profile-info-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
}

.profile-links {
  font-size: 40px;
  padding: 10px;
  a {
    padding: 30px;
  }
}

.profile-description {
    padding: 20px 0px 0px 0px;
    width: 80%;
    display: flex;
    color: #464646;
    font-family: rooto;
    font-size: 18px;
    padding-left: 20px;
    align-items: center;
}

.profile-review {
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    h3{
      padding-left: 0px;
      font-weight: normal;
      font-family: roboto;
      color: gray;
    }

}


.profile-review-detail {
  display: flex;
  align-items: center;
}

 a.unstyle-color-link {
  color: #35477D;
}


.dead-font {
font-family: Permanent Marker;
text-align: center;
color: #35477D;
font-size: 22px;
font-weight: lighter;
}
