.state-yellow {
      color: #d7ad18;
    font-weight: bold;
    font-size: 18px;
}

.state-green {
  color: #33b796;
  font-weight: bold;
  font-size: 18px;
}

.state-red {
  color: #e11c1c;
  font-weight: bold;
  font-size: 18px;
}

.state-blue {
  color: #324681;
  font-weight: bold;
  font-size: 18px;
}
