<div class="container">
  <h4>Pending requests</h4>
  <% unless @pending.empty? %>
    <div class="pending-invitations">
      <% @pending.each do |inv| %>
        <%= render 'card', invitation:inv, imgSize: "small" %>
      <% end %>
    </div>
  <% else %>
    <p>You haven't been invited to a team yet</p>
  <% end %>

  <div class="accepted-invitations">
    <h4>Your teams</h4>
    <% unless @accepted.empty? %>
      <% @accepted.each do |inv| %>
        <%= render 'card', invitation: inv, imgSize: "small" %>
      <% end %>
    <% else %>
      <p>You don't have any teams yet! Join one!</p>
    <% end %>
  </div>
</div>
