<input type="text" id='content-review'>
<div class="star-position">
<% 5.times do |i| %>
  <i class="fas fa-star" id="<%= i + 1 %>"></i>
  <% end %>
</div>

<%= link_to "Review", order_reviews_path(order.id), method: :post, remote: true, id: "btn-rating", class: "btn btn-primary" %>
