<input type="text" id='content-review'>
  <div class="star-position">
  <% 5.times do |i| %>
  <i class="fas fa-star" id="<%= i  %>"></i>
  <% end %>
  </div>

  <%= link_to "RATE", order_reviews_path(order), method: :post, remote: true, id: 'btn-rating', class: "button-rounded-rating " %>
