const refreshForm = (innerHTML) => {
  const newReviewForm = document.getElementById('review_content');
  newReviewForm.innerHTML = innerHTML;
}

const addReview = (reviewHTML) => {
  const reviews = document.getElementById('reviews');
  reviews.insertAdjacentHTML('afterbegin', reviewHTML);

}

addReview('<li> <%= @review.rating %> Stars:  "<%= @review.content %>"</li>');
refreshForm('<%= j render "reviews/form", booking: @booking');
